@{
  Layout = "_Layout";
}

@model Factory.Models.Engineer;

<h2>Edit Details</h2>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.EngineerId)

  @Html.Label("First Name:")
  @Html.EditorFor(model => model.NameFirst)

  @Html.Label("Last Name:")
  @Html.EditorFor(model => model.NameLast)

  <input type="submit" value="Save" />
}

<p>@Html.ActionLink("Back to List of Engineers", "Index")</p>